@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$mainColor: #2e2e2e;
$textColor: #bdbdbd;
$mainFont: Inter;

$secondaryColor: rgba(83, 83, 83, 0.63);
$secondaryColorHighlight: #33343f;
$secondaryColorLight: rgba(255, 255, 255, 0.5);
$secondaryColorDark: rgba(0, 0, 0, 0.64);

$gridCols: 5;
$gridRows: 4;
$secondarygridRows: 4;
$gridSize: 10.2vh;
$gridGap: 0.125rem;
$containerSize: calc(#{$gridRows} * #{$gridSize + 0.22vh} + #{$gridRows} * #{$gridGap});
$secondarycontainerSize: calc(#{$secondarygridRows} * #{$gridSize + 0.22vh} + #{$secondarygridRows} * #{$gridGap});

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

code {
  font-family: 'Poppins', sans-serif !important;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.respect-logo{
  width: 85%;
    height: 30%;
    margin: auto;
    margin-top: 1rem;
}
.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
}

.context-menu-list {
  gap: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.context-menu-item {
  min-width: 80px;
  height: 40px;

  background-color: black;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    transform: none;
  }
  &:hover {
    background-color: $secondaryColorLight;
    cursor: pointer;
  }
}

.tooltip-description {
  padding-top: 5px;
}

.tooltip-markdown > p {
  margin: 0;
}

button:active {
  transform: translateY(3px);
}


.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  /* background: linear-gradient(45deg, rgba(24, 24, 24, 0.66) 0%, rgb(17, 17, 17) 100%); */
  background: linear-gradient(46deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  gap: 3vw;
  padding-top: 12em;
}

.inventory-control {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  gap: 1vw;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .inventory-control-input {
    transition: 200ms;
    width: 3.7vw;
    height: 1.9vw;
    border-radius: 10%;
    font-family: $mainFont;
    font-size: 1vw;
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    background: linear-gradient(183deg, rgb(8, 8, 8) 0%, rgb(0 0 0 / 56%) 50%);
    &:focus-within {
      background-color: $secondaryColorDark;
    }
  }

  .inventory-control-button {
    color: #fff;
    background: linear-gradient(183deg, rgb(8, 8, 8) 0%, rgb(0 0 0 / 56%) 50%);
    transition: 200ms;
    border-radius: 10%;
    border: none;
    text-transform: uppercase;
    font-family: $mainFont;
    width: 3.8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
    }
    &:hover {
      background-color: $secondaryColorDark;
    }
  }
}
.icon-hand-button {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-info-button {
  width: 1.1rem;
  height: 1.1rem;
}
.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  gap: 16px;
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.div-container {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.useful-controls-dialog-close {
  width: 25px;
  height: 25px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  fill: $textColor;
  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

.useful-controls-button {
  position: absolute !important;
  bottom: 25px;
  right: 25px;
  transition: 200ms !important;
  border: none;
  color: white;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 5% !important;
  background-color: $secondaryColor !important;
  &:hover {
    background-color: $secondaryColorDark !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: 8px;
  top: 8px;
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window

.verticalline {
  position: relative;
  top: 2vw;
  right: 0.6vw;
  height: calc(#{4.8} * #{$gridSize + 0.22vh} + #{4.8} * #{$gridGap});
  width: 2px;
  background: linear-gradient(180deg, rgba(233, 233, 233, 0.4) 0%, rgba(233, 233, 233, 0) 100%);
}

.line {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, rgba(233, 233, 233, 0.4) 0%, rgba(233, 233, 233, 0) 100%);
}

.playerinventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(#{5.5} * #{$gridSize + 0.22vh} + #{5.5} * #{$gridGap});
  /*   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.secondaryinventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(#{5.5} * #{$gridSize + 0.22vh} + #{5.5} * #{$gridGap});
}

// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  /*   gap: calc($gridGap * 2); */
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.hotinventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 0.9rem;
}

.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  /* margin: 0 1vw;  spacing margins*/

  p {
    color: $textColor;
  }
  img {
    width: 2.5rem;
  }
}

.inventory-grid-container {
  display: grid;
  height: $containerSize;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
}

.secinventory-grid-container {
  @extend .inventory-grid-container;
  height: $secondarycontainerSize;
  /*   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.hotinventory-grid-container {
  @extend .inventory-grid-container;
  height: fit-content;
  padding-top: 0.5vw;
}

.label-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.4vw;
  p {
    font-size: 1.5vw;
    font-weight: bold;
    /*     text-transform: uppercase; */
    color: white;
  }
}

.icon-wallet {
  width: 1.5rem;
  height: 1.5rem;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
.label-pocket {
  font-size: 1.3rem !important;
}

.weight-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4vw;

  img {
    width: 1.5rem;
  }
  p {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $textColor;
  }
}

// inventory slots
.inventory-slot {
  /*   background-color: $secondaryColor; */
  background-color: rgb(0 0 0 / 54%);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15%;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 5vh;
  color: $textColor;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;
}

.inventory-slot-label-box {
  color: $textColor;
  text-align: center;
}

.inventory-slot-label-text {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.4vw;
  color: white;
  font-family: $mainFont;
  font-size: 0.5vw;
  font-weight: 500;
}

.inventory-slot-number {
  position: absolute;
  left: 0.5vw;
  top: -0.5vw;
  border-radius: 10%;
  background-color: white;
  color: black;

  width: 1.3vw;
  height: 1.3vw;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7vw;
  font-weight: bolder;
  font-family: $mainFont;
}

.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: linear-gradient(2deg, rgb(8 8 8) 0%, rgba(0, 0, 0, 0.377) 25%);
  border-radius: 15%;
}



.item-slot-header-wrapper {
  p {
    top: 0.3vw;
    font-size: 0.7rem;
    font-weight: bold;
    position: absolute;
    right: 0.5rem;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3px;
  p {
    font-size: 14px;
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  background-color: $mainColor;
  width: 200px;
  padding: 8px;
  flex-direction: column;
  min-width: 200px;
  color: $textColor;
  font-family: $mainFont;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: 1px;
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  svg {
    padding-right: 3px;
  }
  p {
    font-size: 14px;
  }
}

.tooltip-ingredients {
  padding-top: 5px;
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 28px;
    height: 28px;
    padding-right: 5px;
  }
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
}

.hotbar-slot-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: 2px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $secondaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;
  p {
    font-size: 11px;
    padding: 2px;
    font-weight: 600;
  }
}

.item-notification-item-box {
  @extend .inventory-slot;
  height: $gridSize;
  width: $gridSize;
}

.durability-bar {
  background: rgba(26, 26, 26, 0.3);
  height: 0.2rem;
  overflow: hidden;
  transform: rotate(270deg);
  margin-left: -1.8rem;
  margin-top: -3rem;
  position: absolute;
  width: 4rem;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(200px);
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(200px);
  transition: all 200ms;
}
